

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
   
  }
  
 .header {
    background-color:#4CAF50;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  

  nav {
    background-color:#4CAF50;
    padding: 15px;
    text-align: center;
    padding-right: 25rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin: 20px 10px;
  }
  
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  h1{
    font-size: 2.6rem;
    text-align: center;
    padding-top: 1rem;
    color: black;
    padding-left: 20rem;

  }
  h1 span{
    text-align: center;
    background: var(--yellow);
    color:white;
    display: inline-block;
    padding: .5rem 2rem;
    text-align: center;
    margin-right: 20rem;
    clip-path: polygon(100% 0,93% 50%, 100% 99%, 0% 100%, 7% 50%,0% 0%);
    background-color: #040f8a;
  }

.product {
    text-align: center;
    padding: 20px 20px;
    max-width: 80rem;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 100px;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    padding-top: 3rem;
}

.image {
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 300px;
    /* background-image: url('benifits2\ img.jpg'); */
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    margin: 5px;
    border: 3px solid gray;
    height: auto;
}
.image-left{
    display: block;
    margin-left: 0;
    margin-right: auto;
}
.image:hover {
    transform: scale(1.05);
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}
