body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
   
}

header {
    background-color:white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    background-color: #4CAF50;
}
header h1{
    font-family:  sans-serif;
    font-size: 2.5rem;
    text-align: left;
    padding-right: 20rem;
    color: rgb(39, 11, 131);
    
    padding-left: 0rem;
}
nav {
    background-color:white;
    padding: 15px;
    text-align: center;
    padding-right: 25rem;
    background-color:#4CAF50;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 20px 10px;
}


nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 1.6rem;
}

nav ul li a:hover {
    text-decoration: underline;
}
.cart {
    text-align: center;
    padding: 40px 20px;
    background-color: whitesmoke;
}

.cart h2{
    text-align: center;
}

#cart-items {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #218838;
}


